<%= image_tag @campground.photo %> <br>
<%= @campground.name %> <br>
<%= @campground.direction %> <br>
<%= @campground.region %> <br>
<%= time_ago_in_words(@campground.created_at) %>

<h1>crear y mostrar comentarios del camping</h1>
<h1>intentar comentarios con infinite scrolling</h1>
