<h3>Select wich campground you want to edit</h3>
<div class="uk-container">
  <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
    <% @mycampgrounds.each do |x| %>
    <div class="uk-card uk-card-default uk-card-body">
      <h3 class="uk-card-title"><%= x.name %></h3>
      <p><%= image_tag x.photo %></p>
      <p>direction: <%= x.direction %></p>
      <p>region: <%= x.region %></p>
      <p>owner: <%= x.user_id %></p>
      <%= link_to "Edit", edit_user_campground_path(current_user, x), class:"uk-button uk-button-default" %>
      <%= link_to "Enable", "#", class:"uk-button uk-button-default" %>
      <%= link_to "Disable", "#", class:"uk-button uk-button-default" %>
    </div>
    <% end %>
  </div>
</div>
