<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <% if user_signed_in? and current_user.role == 'admin' %>
            <li class="uk-active"><%= link_to 'Home', admins_index_path %></li>
            <% else %>
            <li class="uk-active"><%= link_to 'Home', root_path %></li>
            <% end %>
          <% if user_signed_in? %>
            <li class="uk-parent">
              <a href="#">Options</a>
              <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li><%= link_to 'Create Campground', new_user_campground_path(current_user) %></li>
                </ul>
              </div>
            </li>
            <li class="uk-parent"><%= link_to 'Sign Out', destroy_user_session_path, method:  :delete %></li>
            <% else %>
              <li class="uk-parent"><%= link_to 'Sign In', user_session_path %></li>
              <li class="uk-parent"><%= link_to 'Registration', new_user_registration_path %></li>
          <% end %>
        </ul>
    </div>
</nav>
<% if user_signed_in? %>
  <% if current_user.name.present? %>
      Bienvenido <%= current_user.name %>
    <% else %>
      Bienvenido <%= current_user.email %>
  <% end %>
<% end %>
