<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li class="uk-active"><%= link_to 'Home', root_path %></li>
            <% if user_signed_in? %>
              <% if current_user.name.present? %>
                  <li class="uk-active">Bienvenido <%= current_user.name %></li>
                <% else %>
                  <li class="uk-active">Bienvenido <%= current_user.email %></li>
              <% end %>
              <li class="uk-parent"><%= link_to 'Sign Out', destroy_user_session_path, method:  :delete %></li>
            <% else %>
              <li class="uk-parent"><%= link_to 'Sign In', user_session_path %></li>
              <li class="uk-parent"><%= link_to 'Registration', new_user_registration_path %></li>
              <li class="uk-parent">
                <a href="#">Options</a>
                <div class="uk-navbar-dropdown">
                  <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li class="uk-active"><%= link_to 'Create Campground', new_campground_path %></li>
                    <li><%= link_to 'Edit Campground', '#' %></li>
                    <li><%= link_to 'Disable Campground', '#' %></li>
                  </ul>
                </div>
              </li>
          <% end %>
        </ul>
    </div>
</nav>
