<legend class="uk-legend">Reservation Date</legend>
<div class="uk-margin">
  <div class="uk-text-center">
    <%= form_with model: [@campground, @reservation], local: true, method: :post do |f| %>
        <%= f.label :Desde %>
        <%= f.date_select :initialDay %>
        <%= f.label :Hasta %>
        <%= f.date_select :finalDay %>
        <%= f.submit class: "uk-button uk-button-secondary uk-button-small" %>
    </div>
  </div>
<% end %>
