<hr>
<div class="uk-text-center">
  <h3>Some Shit</h3>
    <%= form_with url: campgrounds_path, local: true, class: 'uk-search uk-search-default uk-width-1-3', method: :get do |f| %>
      <%= f.text_field :search, class:"uk-search-input" %>
      <%= f.submit "Search", name: nil, class:"uk-button uk-button-secondary" %>
    <% end %>
</div>

<hr>
<div class="uk-container">
  <span> Campgrounds found with the given word: <%= @searching %></span>
  <% if @campgrounds.size != 0 %>
    <%= paginate @campgrounds %>
  <% else %>
    <h2>No campground were found available</h2>
  <% end %>

  <% @campgrounds.each do |value| %>
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-scrollspy="cls:uk-animation-fade" uk-grid>
      <div class="uk-card-media-left uk-cover-container">
        <%= image_tag value.photo %>
        <canvas width="600" height="400"></canvas>
      </div>
      <div>
        <div class="uk-card-body">
          <span>
            <h3 class="uk-card-title"><%= value.name %> </h3>
            <p> <%= value.region %> </p>
          </span>
          <%= link_to "See Offer", campground_path(value), class: "uk-button uk-button-secondary uk-button-large" %>
        </div>
      </div>
    </div>
  <% end %>
  <% if @campgrounds.size != 0 %>
    <%= paginate @campgrounds %>
  <% end %>
</div>
