<div class="uk-container">
  <fieldset class="uk-fieldset">
    <legend class="uk-legend">Create your campground</legend>
    <%= form_with model:[@user, @campground], url: user_campgrounds_path, local: true do |f| %>
      <div class="uk-margin">
        <%= f.label :name %>
        <%= f.text_field :name, class: "uk-input uk-form-width-large" %>
      </div>
      <div class="uk-margin">
        <%= f.label :region %>
        <%= f.text_field :region, class: "uk-input uk-form-width-large" %>
      </div>
      <div class="uk-margin">
        <%= f.label :direction %>
        <%= f.text_field :direction, class: "uk-input uk-form-width-large" %>
      </div>
      <div class="uk-margin">
        <%= f.label :photo %>
        <%= f.file_field :photo%>
      </div>
      <div class="uk-margin">
        <%= f.label :photo1 %>
        <%= f.file_field :photo1%>
      </div>
      <div class="uk-margin">
        <%= f.label :photo2 %>
        <%= f.file_field :photo2%>
      </div>
      <div class="uk-margin">
        <%= f.label :photo3 %>
        <%= f.file_field :photo3%>
      </div>
      <div class="uk-margin">
        <%= f.label :photo4 %>
        <%= f.file_field :photo4%>
      </div>
      <div class="uk-margin">
        <%= f.submit class:"uk-button" %>
      </div>
    <% end %>
  </fieldset>
</div>
