<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>

<div class="uk-container">
  <div class="uk-child-width-expand@s" uk-grid>
    <div class="uk-card uk-card-default uk-card-body">
      <h2><%= @campground.name %></h2>
      <%= image_tag @campground.photo %>
      <p>Region: <%= @campground.region %></p>
      <p>Direction: <%= @campground.direction %></p>
      <p>Email: <%= @campground.user.email %> </p>
      <p>Since: <%= time_ago_in_words(@campground.created_at) %></p>
    </div>
    <div class="uk-grid-item-match">
      <div class="uk-card uk-card-default uk-card-body">
        <a data-fancybox="gallery" href="<%= image_url @campground.photo1 %>"><img src="<%= image_url @campground.photo1 %>"></a>
        <a data-fancybox="gallery" href="<%= image_url @campground.photo2 %>"><img src="<%= image_url @campground.photo2 %>"></a>
        <a data-fancybox="gallery" href="<%= image_url @campground.photo3 %>"><img src="<%= image_url @campground.photo3 %>"></a>
        <a data-fancybox="gallery" href="<%= image_url @campground.photo4 %>"><img src="<%= image_url @campground.photo4 %>"></a>
      </div>
    </div>
  </div>

  <h3>Comments:</h3>
  <% @posts.each do |p| %>
    <article class="uk-comment uk-comment-primary">
        <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
            <div class="uk-width-expand">
                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#"><p><%= p.user.email %></p></a></h4>
                <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                    <li><p><%= time_ago_in_words(p.created_at) %></p></li>
                </ul>
            </div>
        </header>
        <div class="uk-comment-body">
            <p><%= p.opinion %></p>
        </div>
    </article>
    <% end %>

  <% if signed_in? %>
    <%= link_to "Reservation", new_campground_reservation_path(@campground.id), class:"uk-button uk-button-secondary" %>
    <%= link_to "Share your experience", new_campground_post_path(@campground.id), class:"uk-button uk-button-secondary" %>
  <% end %>
</div>
